/* 
--- TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --main-color: #f27126;
  --secondary-color: #060934;
  --main-bg-color-light: #f5f5f5;
  --main-bg-color-dark: #111617;
  --main-text-color-dark: #fff;
  --main-text-color-light: #000;
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  color: var(--secondary-color);
}

body {
  font-family: "Arimo", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #f5f5f5;
  direction: rtl;
}

.container {
  max-width: 40rem;
  margin: 2rem auto;
  background-color: #fff;
  padding: 5rem 3rem;
  border-radius: 2px;
  box-shadow: var(--shadow-lg);
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 71% 5%,
      hsla(35, 100%, 97%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 96% 4%, hsla(35, 100%, 97%, 1) 0px, transparent 10%),
    radial-gradient(at 4% 3%, hsla(35, 100%, 97%, 1) 0px, transparent 10%),
    radial-gradient(at 50% 3%, hsla(35, 100%, 97%, 1) 0px, transparent 10%);
}
header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}

header img {
  width: 100%;
}
.logo-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.logo {
  max-width: 12rem;
}
.main-heading {
  font-size: 3rem;
}
.main-heading span {
  color: var(--main-color);
}

.header-text {
  font-size: 1.5rem;
  line-height: 1.2;
  /* font-weight: 600; */
}

header ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  list-style: none;
}
.date-time {
  font-size: 1.2rem;
}
.date-time li {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.speaker {
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 1rem;
  align-items: center;
}
.speaker img {
  border-radius: 100%;
  border: 3px solid var(--main-color);
}
.speakr-name {
  font-size: 1.1rem;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  gap: 1rem;
}

form input:not([type="checkbox"]),
form select {
  border: none;
  border-bottom: var(--secondary-color) 1px solid;
  border-radius: 0;
  padding: 0.75rem 0px;
  box-shadow: none;
  -webkit-appearance: none; /* Remove rounded corners in Safari and Chrome on iOS */
  -moz-appearance: none; /* Remove rounded corners in Firefox on iOS */
  appearance: none; /* Remove rounded corners in other browsers */
}

form div {
  display: flex;
  flex-direction: column;
}

.optin {
  flex-direction: row-reverse;
  justify-content: right;
  gap: 1rem;
}

.btn--form {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background-color: #fff;
  border: var(--main-color) 2px solid;
  border-radius: 100px;
  color: var(--main-color);
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn--form:hover {
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}

form h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.social-links {
  margin-top: 3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1.4rem;
}

.social-link a:link,
.social-link a:visited {
  display: flex;
  align-content: center;
  gap: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #000;
  transition: all 0.5s;
}

.social-link a:hover,
.social-link a:active {
  color: var(--main-color);
}
